export(ynegbinompowersim)
export(ynegbinompower)
export(ynegbinomsize)
export(negint2)
importFrom("stats", "pnorm", "qnorm", "rnorm", "rnbinom", "rbinom","rpois","glm")
importFrom("PWEALL", "pwe", "pwu", "rpwe","rpwu")
importFrom("MASS", "glm.nb")
importFrom("stats", "glm.control")





